{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <body>
        <h1> Interactions in last 30 Days  </h1>
        {% if not interactions %}
            <p> there are no interactions in the last 30 days <p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Channel</th>
                        <th>Direction</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for interaction in interactions %}
                        <tr>
                            <td>{{ interaction.channel }}</td>
                            <td>{{ interaction.direction }}</td>
                            <td> {{ interaction.count }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4> Total : {{ count }} </h4>
        {% endif %}
    </body>
</html>
{% endblock content %}