<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>
    <body>
    <!--Add a registration form here -->
    <form action="{% url 'djangoapp:registration' %}" method="post">
        <div class="container">
          <h1>Sign Up</h1>
          <hr>
          <div class="form-group">
              <label for="username"><b>User Name</b></label>
          </br>
              <input class="form-control" type="text" placeholder="Enter User Name: " name="username" required>
          </div>
          <div class="form-group">
            <label for="firstname"><b>First Name</b></label>
          </br>
            <input class="form-control" type="text" placeholder="Enter First Name: " name="firstname" required>
          </div>
          <div class="form-group">
            <label for="lastname"><b>Last Name</b></label>
          </br>
            <input class="form-control" type="text" placeholder="Enter Last Name: " name="lastname" required>
          </div>
          <div class="form-group">
          <label for="psw"><b>Password</b></label>
        </br>
          <input class="form-control" type="password" placeholder="Enter Password: " name="psw" required>
          </div>
          <div>
              {% csrf_token %}
              <button class="btn btn-primary" type="submit">Sign Up</button>
          </div>
        </div>
      </form>

    </body>
</html>